.form-signin {
    display: none;
}

.form-signin--visible {
    width: 100%;
    max-width: 380px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.form-signin>label {
    flex: 1 0 50%;
}

.form-signin>div {
    flex: 0 1 100%;
}

#option1,
#option2 {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

#tab-content-1,
#tab-content-2 {
    display: none;
    width: 100%;
}



#option1:checked ~ .btn--option1 {
    box-shadow: 0 0 0 0.2rem #BFD5E2;
    background-color: #424b53;
}

#option2:checked ~ .btn--option2{
    box-shadow: 0 0 0 0.2rem #BFD5E2;
    background-color: #424b53;
}

#tab-content-1 {
    display: block;
}

#option1:checked ~ #tab-content-1 {
    display: block;
}
#option1:checked ~ #tab-content-2 {
    display: none;
}

#option2:checked ~ #tab-content-1  {
    display: none;
}
#option2:checked ~ #tab-content-2  {
    display: block;
}


#subscribe {
    width: 100%;
    height: 300px;
    overflow: auto;
    border: 1px solid black;
}

.text-message {
    height: 100px;
    overflow-y: auto;
    resize: none;
}

.btn.btn-lg{
    padding: 6px 12px;
}

.container .container__chat,
.profile-edit,
.btn--invisible {
    display: none;
}

.container .container__chat--visible {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center!important;
}


.profile-edit--visible {
    display: block;
}

.chat-box {
    display: flex;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    font-family: Roboto;
}
.from {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.from span:last-child {
    font-size: 10px;
}
.message {
    margin-left: 10px;
    display: flex;
    align-items: center;
}
