.form-signin {
    display: none;
}

.form-signin--visible {
    width: 100%;
    max-width: 380px;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.form-signin>label {
    flex: 1 0 50%;
}

.form-signin>div {
    flex: 0 1 100%;
}

#option1,
#option2 {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

#tab-content-1,
#tab-content-2 {
    display: none;
    width: 100%;
}



#option1:checked ~ .btn--option1 {
    box-shadow: 0 0 0 0.2rem #BFD5E2;
    background-color: #424b53;
}

#option2:checked ~ .btn--option2{
    box-shadow: 0 0 0 0.2rem #BFD5E2;
    background-color: #424b53;
}

#tab-content-1 {
    display: block;
}

#option1:checked ~ #tab-content-1 {
    display: block;
}
#option1:checked ~ #tab-content-2 {
    display: none;
}

#option2:checked ~ #tab-content-1  {
    display: none;
}
#option2:checked ~ #tab-content-2  {
    display: block;
}


#subscribe {
    width: 100%;
    height: 300px;
    overflow: auto;
    border: 1px solid black;
}

.text-message {
    height: 100px;
    overflow-y: auto;
    resize: none;
}

.btn.btn-lg{
    padding: 6px 12px;
}

.container .container__chat,
.profile-edit,
.btn--invisible {
    display: none;
}

.container .container__chat--visible {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center!important;
}


.profile-edit--visible {
    display: block;
}

.chat-box {
    display: flex;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    font-family: Roboto;
}
.from {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.from span:last-child {
    font-size: 10px;
}
.message {
    margin-left: 10px;
    display: flex;
    align-items: center;
}


.rooms,
.contacts {
    border: 1px solid black;
    line-height: 1.2;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 300px;
}
.room-card,
.contact-card {
    padding: 10px;
}

.room-card:hover,
.contact-card:hover {
    background: #cbc8c8;
    cursor:pointer;
}

.room-card h5,
.contact-card h5 {
    margin: 0;
}

.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll::-webkit-scrollbar-thumb {
    background: #666;
}



.room-card,
.contact-card {
    padding: 5px 10px;
    position: relative;
}

.room-card_new-message-counter,
.contact_new-message-counter {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 15px;
    width:  25px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

.name {
    position: relative;
}

.name--offline:before {
    position: absolute;
    content: '';
    display: block;
    border-radius: 25px;
    height: 5px;
    width: 5px;
    left:-5px;
    top: 0;
    background: #afb2b5;
}
.name--offline.name--online:before {
    position: absolute;
    content: '';
    display: block;
    border-radius: 25px;
    height: 5px;
    width: 5px;
    left:-5px;
    top: 0;
    background: #007bff;
}